<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <p class="salutation">Hi there,</p>

      <p>
        A password recovery action was triggered on your account. If you are not the one who did this, rest easy you are safe but you should be concious about the security of your account, but if you triggered this action, below is your recovery code.
        <p class="recovery-code">{{ recoveryCode }}</p>
        <p>This recovery code will expire in the next hour</p>
      </p>
    </div>
  </body>
</html>
